@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-error-red: #e63946;
  --color-primary: #0d0d0d;
  --color-primary-hover: #1e1e1e;
}
